{% extends "::base.html.twig" %}

{% block title %}AppBundle:PlanningComission:getComissions{% endblock %}

{% block body %}
<h1>Welcome to the PlanningComission:getComissions page</h1>
{% endblock %}
